@tailwind base;
@tailwind components;
@tailwind utilities;

/* Adicionando as novas fontes ao Tailwind */
@layer base {
  h1, h2, h3 {
    font-family: var(--font-cinzel), serif;
  }
  body, p, span, div {
    font-family: var(--font-spectral), serif;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}